#contact iframe
{
    width: 100%;
}

.travel_mainDiv{
    border: 1px solid lightgrey;
}
.travel_mainDiv img{
    width: 100%;
}
.travel_mainDiv h5,.travel_mainDiv p{
    margin: 20px;
}

.movie_head{
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 6px 22px;
}

.movie_head i {
    float: right;
}

.movie_text span{
    color: orange;
}

.movie_text img{
    width: 400px;
}